
 #tm_builder_outer_content .tm_pb_number_counter .percent{
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 1)px;
	color: $invert_h3_color;
}

#tm_builder_outer_content .tm_pb_number_counter h3{
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	font-family: @font_family( $body_font_family );
}