<div class="item_wrap" style="background:url(%%IMGURL%%)">
    <div class="container">
        <div class="content_wrap">
                %%TITLE wrap="h3"%%
                %%DESC%%
                %%BUTTON%%
        </div>
    </div>
</div>