<div class="header_wrap">
    %%IMAGE link="false" %%
    <div class="title_box">
        %%TITLE wrap="h1"%%
        %%SLOGAN wrap="h3"%%
    </div>
</div>
%%CONTENT%%
%%ADVANCED_FEATURES%%
%%CTA%%
%%TESTI%%