<div class="project-media">
	%%FEATUREDIMAGE size="post-thumbnail"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TERMSLIST%%
	%%TITLE%%
	%%CONTENT number_of_words="25"%%
	%%DETAILSLIST%%
	%%BUTTON%%
</div>
