<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE size="energico-service-xl"%%
	</div>
	%%IMAGELIST%%
	<div class="cherry-projects-single__content">
	%%TITLE%%
		<div class="cherry-projects-single-meta">
			%%DATE%%
			%%AUTHOR%%
			%%COMMENTS%%
		</div>
		%%TERMSLIST%%
		%%CONTENT%%
		%%DETAILSLIST%%
        %%SKILLSLIST%%
	</div>
</div>