<div class="project-media">
	%%FEATUREDIMAGE size="energico-thumb-projects-list"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TERMSLIST%%
    %%TITLE%%
    %%CONTENT number_of_words="50"%%
    %%DETAILSLIST%%
    %%BUTTON%%
</div>
